<mat-sidenav-container class="sidebar-container">
  <mat-sidenav class="sidebar" mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line>Home</h4>
      </mat-list-item>
      <mat-list-item routerLink="/candidates" [queryParams]="{sortCandidates: 'lastName'}">
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>Candidates</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
